@model DAL.Models.User;

@{
    ViewData["Title"] = "User Page";
}

<h1>User Page</h1>

<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.ImageUrl)
</dt>
<dd class="col-sm-10">
    <img src="@Url.Content("~/images/users/")/model.ImageUrl" height="60px" ; width="60px" />
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.UserId)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.UserId)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Name)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.Name)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Birthdate)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.Birthdate)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Age)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.Age)
</dd>

<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.UserAwards)
</dt>
<dd class="col-sm-10">
    <table class="table">
        <tr>
            <th></th>
            <th>Award Title</th>
        </tr>
        @foreach (var item in Model.UserAwards)
        {
            <tr>
                <td>
                    <img src="@Url.Content("~/images/awards/")/@item.Award.ImageUrl" height="50px" width="50px">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Award.Title)
                </td>
            </tr>
        }
    </table>
</dd>
