@using DAL.Models
@using WebApp2.ViewModels
@model IndexViewModel

@{
    ViewData["Title"] = "Users List";
 }

<h2>Users List</h2>

<p>
    <a asp-action = "AddUser">Add New User</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Photo</th>
            <th>Name</th>
            <th>Awards</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
        <tr>
           <td>
               <img src="@Url.Content("~/images/users/")/@item.ImageUrl" height="40px"; width="40px"/>
           </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @{
                    foreach (var award in item.UserAwards)
                    {
                        @award.Award.Title<br />
                    }
                 }
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
                <a asp-action="Edit" asp-route-id="@item.UserId">Edit</a>
            </td>
        </tr>
        }
    </tbody>
</table>