@using DAL.Models
@using WebApp2.ViewModels
@model IndexViewModel

@{
    ViewData["Title"] = "Users List";
 }

<h2>Users List</h2>

<p>
    <a asp-action = "AddUser">Add New User</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Photo</th>
            <th>Name</th>
            <th>Awards</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
        <tr class="user" data-id="@item.UserId">
           <td>
               <img src="@Url.Content("~/images/users/")/@item.ImageUrl" height="60px"; width="60px"/>
           </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @{
                    foreach (var award in item.UserAwards)
                    {
                        <img src="@Url.Content("~/images/awards/")/@award.Award.ImageUrl" height="40px" width="40px"><br />
                    }
                 }
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.UserId">Details</a>
                <input type ="button" value="Delete" class="remove btn-outline-danger" />
                <a asp-action="Edit" asp-route-id="@item.UserId">Edit</a>
            </td>
        </tr>
        }
    </tbody>
</table>


@section Scripts{
    <script>
    var urls = {
        userDelete: "@Url.Action("Delete", "User")"
        };
    </script>
    <script src="~/js/userList.js"></script>
 }