@model IEnumerable<DAL.Models.User>

@{
    ViewData["Title"] = "Users List";
 }

<h2>Users List</h2>

<p>
    <a asp-action = "AddUser">Add New User</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Photo
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
           <td>
               <img src="@Url.Content("~/images/users/")/@item.ImageUrl" height="40px"; width="40px";>
           </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
                <a asp-action="Edit" asp-route-id="@item.UserId">Edit</a>
            </td>
        </tr>
        }
    </tbody>
</table>